<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
  <title>S3 / New Table</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="alert alert-danger collapse" role="alert"></div>
        <div class="alert alert-success collapse" role="alert"></div>
        <form class="new-table-form">
            <div class="form-group">
                <label for="tableName">Table Name</label>
                <input type="text" class="form-control" id="table_name" aria-describedby="tableName" placeholder="Table Name">
                <small id="table_name" class="form-text text-muted">Please write a lowercase letter or number</small>
            </div>
            <button type="submit" id="new_table_button" class="btn btn-primary">Save Table</button>
        </form>
    </section>
</body>
</html>